<p style="color: green"><%= notice %></p>

<%= render @beer_club %>

<h3>Members:</h3>
<% if @beer_club.memberships.empty? %>
<p> No members </p>
<% else %>  
<ul>
    <% @beer_club.memberships.each do |m| %>
    <li>
        <%= link_to m.user.username, user_path(m.user) %>
    </li>
    <% end %>
</ul>
<% end %>

<% if current_user %>
    <% if @beer_club.memberships.where(user_id: current_user.id).empty? %>
        <%= form_with(model: @membership) do |form| %>
            <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.submit "Join the beer club" %>
        <% end %>
    <% else %>
        <%= form_with(model: @membership, url: membership_path(@membership),
                    method: :delete, local: true) do |form| %>
            <%= form.submit "Leave the beer club" %>
        <% end %>
    <% end %>

  <div>
    <%= link_to( "Edit this beer club", edit_beer_club_path(@beer_club) ) %> 
    <%= button_to( "Destroy this beer club", @beer_club, method: :delete ) %>
  </div>
<% end %>

<div>
  <%= link_to "Back to beer clubs", beer_clubs_path %>
</div>
