<div id="<%= dom_id brewery %>">
<h2>
  <%= link_to brewery.name, brewery %>
  <% if not brewery.active  %>
    <span class="badge bg-secondary">retired</span>
  <% end %>
</h2>

<i>
  Established in 
  <strong><%= brewery.year %></strong>
</i>


<p>Beers: <%= brewery.beers.count %></p>

<table class="table">
    <thead>
        <tr>
            <th>Beer Name</th>
            <th>Style</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <% brewery.beers.each do |beer| %>
            <tr>
                <td><%= link_to beer.name, beer %></td>
                <td><%= beer.style %></td>
                <td>
                  <% if beer.ratings.any? %>
                    <%= (beer.ratings.average(:score) || 0).round(2) %>
                  <% else %>
                    no ratings
                  <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<p>
  Brewery has <%= brewery.ratings.count %> <%= "rating".pluralize(brewery.ratings.count) %> with an average of: <%= brewery.average_rating().round(2) %>

</p>

</div>
