

<%= render @brewery %>

<% if @brewery.active %>
    <%= link_to "Retire", toggle_activity_brewery_path(@brewery.id), data: {turbo_method: "post"}, class: "btn btn-warning" %>
<% else %>
    <%= link_to "Activate", toggle_activity_brewery_path(@brewery.id), data: {turbo_method: "post"}, class: "btn btn-success" %>
<% end %>


<div class = "edit-and-destroy pt-3 pb-3">
    <%= edit_and_destroy_buttons(@brewery) %>
</div>
<div>
    <%= link_to "Back to breweries", breweries_path %>
</div>