<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>

<% if @places.present? %>
  <table>
    <thead>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <th><%= field %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <% Place.rendered_fields.each do |field| %>
            <td><%= render_place_cell(place, field) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  
<% end %>

